[user]
	name = {{ git_name }}
	email = {{ git_email }}
[core]
	excludesfile = /Users/{{ user }}/.gitignore
	autocrlf = input
	editor = vim
[color]
	ui = auto
[color "branch"]
	current = red
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	ci = commit
	co = checkout
	br = branch
	cp = cherry-pick
	cps = cherry-pick -s
	slog = log --pretty=oneline --abbrev-commit
	glog = log --graph --decorate --pretty=oneline --abbrev-commit
	gloga = log --graph --decorate --pretty=oneline --abbrev-commit --all
	unci = reset HEAD^
	uncommit = reset HEAD^
	ls = ls-files
	out = log HEAD..origin
	killbranches = !git branch | grep -v master | xargs git branch -d 2> /dev/null
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	please = push --force-with-lease
	commend = commit --amend --no-edit
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	st = status --short --branch
[push]
	default=current
